[package]
name = "socks5-server"
version = "0.8.1"
authors = ["EAimTY <ea.imty@gmail.com>"]
description = "Relatively low-level asynchronized SOCKS5 server implementation based on tokio"
categories = ["network-programming", "asynchronous"]
keywords = ["socks5", "socks", "proxy", "async", "network"]
edition = "2021"
readme = "README.md"
license = "GPL-3.0-or-later"
repository = "https://github.com/EAimTY/socks5-server"

[dependencies]
async-trait = "0.1.*"
bytes = "1.2.*"
socks5-proto = "0.3.*"
tokio = { version = "1.20.*", features = ["net"] }

[dev-dependencies]
tokio = { version = "1.20.*", features = ["macros", "rt-multi-thread"] }
